<div class="row">
    <div class="col-md-6">
      <h1>Employment Category</h1>
    </div>
    <div class="col-md-6">
      <button mat-raised-button color="primary" [routerLink]="['/company/create']" class="t-mat-raised-button me-1">
        <mat-icon>add</mat-icon>
        Add Company
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="t-basic-form t-form">
        <form [formGroup]="employmentCategoryForm">
          <div class="row">
            <div class="col-md-12">
             
              <mat-card class="t-card">
                <mat-card-header>
                  <mat-card-subtitle>Employment Category Information</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="t-full-width">
                        <mat-label>
                          Employment Category
                          <span class="required">*</span>
                        </mat-label>
                        <input matInput formControlName="categoryName" placeholder="Enter Employment Category Name" />
                        <mat-error *ngIf="employmentCategoryForm.controls['categoryName'].hasError('required')">
                          Name is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="employmentCategoryForm.controls['categoryName'].hasError('maxlength')">
                          Name max length is <strong>20</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>  
  
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label> Company </mat-label>
                        <mat-select formControlName="companyId">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Search Company" autocomplete="off"
                              (keyup)="onCompanyFilter($event)" (keydown)="$event.stopPropagation()" />
                          </mat-form-field>
                          <mat-option *ngFor="let company of filteredcompany | slice: 0:10" [value]="company.id">
                            <small>
                              {{ company.companyName }}
                            </small>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4 mt-3">
                      <mat-checkbox formControlName="status">Status</mat-checkbox>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-secondary t-mat-raised-button" mat-raised-button (click)="reset()">Reset</button>
              <button class="btn btn-secondary t-mat-raised-button" mat-raised-button
                (click)="clearState()">clear</button>
              <button mat-raised-button color="primary" (click)="save()" class="btn btn-primary t-mat-raised-button">
                {{ isEdit ? "Update" : "Add" }}
              </button>
            </div>
          </div>
        </form>
  
      </div>
    </div>
    <!-- <div class="col-md-4">
        <div class="div-pre">
          <p *ngIf="errors">errors</p>
          {{errors | json}}
          <p>Instant Value</p>
          {{ employeesForm.getRawValue() | json }}
    
          <p>Last Submit Value</p>
          {{ employeesFormValue | json }}
        </div>
      </div> -->
  </div>
