.t-card {
  width: 360px;
}
.t-full-width {
  width: 100%;
}
.t-login-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 760px;
  flex-direction: column;
}

.t-card{
  margin-bottom: 30px;
}
