<div class="row">
    <div class="col-md-12">
        <h1>Designation Setup Information <span>Form</span></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="t-basic-form t-form">
            <form [formGroup]="designationSetupForm">
                <div class="row">
                    <div class="col-md-12">
                        <mat-card class="t-card">
                            <mat-card-header>
                                <mat-card-subtitle>Designation Setup Information</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="t-full-width">
                                            <mat-label> Employee </mat-label>
                                            <mat-select formControlName="employeeId">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Search Employee" autocomplete="off"
                                                        (keyup)="onEmployeeFilter($event)"
                                                        (keydown)="$event.stopPropagation()" />
                                                </mat-form-field>
                                                <mat-option *ngFor="let employee of filteredEmployees | slice: 0:10"
                                                    [value]="employee.id">
                                                    <small>
                                                        {{ employee.name }}
                                                    </small>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="t-full-width">
                                            <mat-label> Designation </mat-label>
                                            <mat-select formControlName="designationId">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Search Designation" autocomplete="off"
                                                        (keyup)="onDesignationFilter($event)"
                                                        (keydown)="$event.stopPropagation()" />
                                                </mat-form-field>
                                                <mat-option *ngFor="let designation of filteredDesignations | slice: 0:10"
                                                    [value]="designation.id">
                                                    <small>
                                                        {{ designation.name }}
                                                    </small>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="t-full-width">
                                            <mat-label>Choose a date</mat-label>
                                            <input matInput [matDatepicker]="effectedDate"
                                                formControlName="effectedDate" name="effectedDate"
                                                (dateChange)="dateChange('change', $event)">
                                            <mat-hint>Effected Date</mat-hint>
                                            <mat-datepicker-toggle matSuffix
                                                [for]="effectedDate"></mat-datepicker-toggle>
                                            <mat-datepicker #effectedDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="t-full-width">
                                            <mat-label>
                                                Remark
                                                <span class="required">*</span>
                                            </mat-label>
                                            <input matInput formControlName="remark" placeholder="Enter Remark" />
                                            <mat-error *ngIf="designationSetupForm.controls['remark'].hasError('required')">
                                                Remark is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="t-mat-raised-button" mat-raised-button (click)="reset()">Reset</button>
                        <button class="t-mat-raised-button" mat-raised-button (click)="clearState()">clear</button>
                        <button mat-raised-button color="primary" (click)="save()" class="t-mat-raised-button">
                            {{ isEdit ? "Update" : "Add" }}
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>