<div class="row">
  <div class="col-md-12">
    <h1>Document Information <span>Form</span></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12"></div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="t-basic-form t-form">
      <form [formGroup]="documentForm">
        <div class="row">
          <div class="col-md-12">
            <mat-card class="t-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-md-3">
                    <div class="profile" (click)="avatarClassicInput.click()">
                      <p *ngIf="!avaterPreview">MK</p>
                      <input type="hidden" formControlName="avatar" />
                      <img [src]="avaterPreview" *ngIf="!!avaterPreview" alt="Image">
                      <input type="file" hidden #avatarClassicInput (change)="uploadFileAttach($event)">
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="t-card">
              <mat-card-header>
                <mat-card-subtitle>Document Information</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  
                  <div class="col-md-6">
                    <mat-form-field class="t-full-width">
                      <mat-label> Employee </mat-label>
                      <mat-select formControlName="employeeId">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Search Employee"
                            autocomplete="off"
                            (keyup)="onEmployeeFilter($event)"
                            (keydown)="$event.stopPropagation()"
                          />
                        </mat-form-field>
                        <mat-option *ngFor="let employee of filteredemployees | slice: 0:10" [value]="employee.id">
                          <small>
                            {{ employee.name }}
                          </small>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-md-6">
                    <mat-form-field class="t-full-width">
                      <mat-label> DocumentType </mat-label>
                      <mat-select formControlName="documentTypeId">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Search documentType"
                            autocomplete="off"
                            (keyup)="onDocumentTypeFilter($event)"
                            (keydown)="$event.stopPropagation()"
                          />
                        </mat-form-field>
                        <mat-option *ngFor="let documentType of filteredeocumentType | slice: 0:10" [value]="documentType.id">
                          <small>
                            {{ documentType.documentTypeName }}
                          </small>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->
                  <div class="col-md-6">
                    <mat-form-field class="t-full-width">
                      <mat-label> Remark </mat-label>
                      <input matInput formControlName="remark" placeholder="Enter remark" />
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-secondary t-mat-raised-button" mat-raised-button (click)="reset()">Reset</button>
            <button class="btn btn-secondary t-mat-raised-button" mat-raised-button (click)="clearState()">clear</button>
            <button mat-raised-button color="primary" (click)="save()" class="btn btn-primary t-mat-raised-button">
              {{ isEdit ? "Update" : "Add" }}
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
  <!-- <div class="col-md-4">
    <div class="div-pre">
      <p *ngIf="errors">errors</p>
      {{errors | json}}
      <p>Instant Value</p>
      {{ employeesForm.getRawValue() | json }}

      <p>Last Submit Value</p>
      {{ employeesFormValue | json }}
    </div>
  </div> -->
</div>



